.contenido{
  width: inherit;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 40px;
}

.contenido h3{
  font-size: 24px;
  font-weight: 600;
}

.card_tip{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.card_img_tip{
  width: 30%;
  border-radius: 5px;
}

.card_tip h4{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--orange);
}

.card_tip p{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
.card_tip a {
  color: var(--green);
}